<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/static/index/css/bootstrap.css" />
    <link href="/static/index/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/styles2.css" />
    
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2"></script>
    <script type="text/javascript" src="/static/index/js/main2.js"></script>

    <script>
      $(document).ready( function() {
          tigerapps.initializeTigerapps();
      });
    </script>
</head>

<body>

<div class="tile_box rounded_corners">
    <div class="image_wrapper">
    <img class="tile_image" src="http://news.princeton.edu/uploads/261/image/iPrinceton-icon80.jpg"/>
    </div>
    <div class="tile_label">
     Title Goes Here
    </div>
</div>

<div style="right:180px;" class="tile_box rounded_corners">
    <div class="image_wrapper">
    <img class="tile_image" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Man_o'war_cove_near_lulworth_dorset_arp.jpg/300px-Man_o'war_cove_near_lulworth_dorset_arp.jpg"/>
    </div>
    <div class="tile_label">
     Cool!
    </div>
</div>


</body>
         
</html> 
