{% load value_from_settings %}
<!DOCTYPE html>
<html>
<head>
   {% include 'toolbar/jquery.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/static/index/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/styles.css" />
    
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/index/js/main.js"></script>
    <script>
        $(document).ready(function() {
            tigerapps.initializeTigerapps();
        });
    </script>

</head>

<body>
<div class="container">
<div class="row">
    <div id="title">
        <a href="/">TigerApps</a>
    </div>
</div>


<div class="row" id="main">
    <div id="tiles">
        {% for category,apps in grouped_apps %} 
        <div class="category-type">
            <h2>{{category}}</h2>
            <hr/>
            {% for app in apps %}
            <div id="tile-{{app.id}}" class="tile-app rounded-corners">
                <img class="tile-icon" src="{% value_from_settings CURRENT_HOME %}{{app.icon.url}}"/>
                <div class="tile-label">{{app.name}}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div id="desc" class="rounded-corners">
        <div id="desc-0" class="desc-app">
            <h2>TigerApps</h2>
            <p>The TigerApps are a suite of student-built, student-maintained apps designed to improve your campus experience. Our goal is to be a central portal for campus information. The apps on this site managed by the Princeton USG.</p>
        </div>

        {% for category,apps in grouped_apps %}{% for app in apps %}
        <div id="desc-{{app.id}}" class="desc-app">
            <a href ="{{app.url}}"><h2>{{app.name}}</h2></a>
            {% autoescape off %}
            <div>{{app.description}}</div>
            {% endautoescape %}
            <a href ="{{app.url}}">Link to {{app.name}}</a>
        </div>
        {% endfor %}{% endfor %}
    </div>
</div>
</body>
</html>
