{% load value_from_settings %}
<html>
<head>
	<title>Pursuit of Mappyness</title>

	<link rel="stylesheet" type="text/css" href="/static/pom/css/jquery-ui-1.8.20.custom.css"/>
<!--	<link rel="stylesheet" type="text/css" href="http://{% value_from_settings CURRENT_HOST_PREFIX %}cal.tigerapps.org/static/shared/css/jqueryui-mod.css"/>-->
	<link rel="stylesheet" type="text/css" href="/static/shared/css/tipsy.css"/>

	<link rel="stylesheet" type="text/css" href="/static/pom/css/timeline.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/map.css"/>
	<link href='http://fonts.googleapis.com/css?family=Bentham' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/pom/js/jquery-ui-1.8.20.custom.min.js"></script>
	<script type="text/javascript" src="/static/shared/js/jquery.tipsy.js"></script>

	<script type="text/javascript" src="/static/pom/js/timeline.js"></script>
	<script type="text/javascript" src="/static/pom/js/map.js"></script>
	<script type="text/javascript" src="/static/pom/js/display.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() { displayInit(); });
	</script>
	
	<!--
		<link rel="stylesheet" type="text/css" href="/static/css/jqueryui-absolution/absolution.blue.css"/>
	-->
  
{% include 'tigerapps/tigerapps_gaq.html' %}
</head>
  
<body>
{% include 'toolbar/links.html' %}
<div id="container">

<div id="jmap-topbar">
		<div id="logo"><a id="logo-link" href="/" >Pursuit of Mappyness</a></div>

		<div id="topbar-input">
		<div id="layer-tabs">

			<input type="radio" id="filter-events" name="top-tab" value="0" checked="checked"/><label for="filter-events">Events</label></input>

			<input type="radio"  id="filter-menus" name="top-tab" value="2"><label for="filter-menus">Menus</label></input>

			<input type="radio"  id="filter-laundry" name="top-tab" value="3"><label for="filter-laundry">Laundry</label></input>

			<input type="radio"  id="filter-printers" name="top-tab" value="4"><label for="filter-printers">Printers</label></input>

			<input type="radio" id="filter-locations" name="top-tab" value="5"><label for="filter-locations">Locations</label></input>

		</div>
	
		<form id="location-search-form">
			<input id="location-search" type="text" style="width:250px;" placeholder="e.g. Frist, McCosh..."/>
			<input id="location-search-code" type="hidden"/>
			<div id="location-search-div">
			<input id="location-search-submit" type="submit" value="Go" />
			</div>
		</form>
		</div>
</div>
<div id="jmap-info">
<div id="info-content"> <!-- second div so scrollbar has margin from right -->
	<div id="info-top">
			
		<div id="info-top-filters">
			<div id="top-tab-0" class="top-tab">
				<div style="float:right;">
					<a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}cal.tigerapps.org/events/add" target="_blank">Add event</a>
				</div>
				<h2 class="info-title">Campus Events</h2>
				
				<div class="isolated">
<p>View events listed on <a href="http://cal.tigerapps.org/">TigerCal</a>
here.  To filter this list, drag the slider below or click any
of the buildings to the left.</p>
				</div>
				
				<div class="isolated">
					<span class="desc-help">Filter by time:</span><br/>
					<div id="jtl-slider" style="width:312px;margin-top:2px;"></div>
					
					<table style="width:320px;"><tr>
						<td style="text-align:left;">
							<label for="jtl-startTime" class="jtl-labels">Start time:</label>&nbsp;
							<input type="text" class="jtl-params jtl-slider-val" id="jtl-slider-start" readonly='true'/>
						</td><td style="text-align:right;"> 
							<label for="jtl-endTime" class="jtl-labels">End time:</label>&nbsp;
							<input type="text" class="jtl-params jtl-slider-val" id="jtl-slider-end" readonly='true'/>
						</td>
					</tr></table>
				</div>

				<div class="isolated">
					<table style="width:320px;"><tr>
						<td style="text-align:left;">
							<label class="jtl-labels-black">Start date:</label>&nbsp;
								<input type="text" class="jtl-params" id="jtl-startDate" readonly='true' style="width:72px;"/>
						</td><td style="text-align:right;">
							<label class="jtl-labels-black">Number of days:</label>
								<select class="jtl-params" id="jtl-nDays">
									<option value=1> 1 </option>
									<option value=2> 2 </option>
									<option value=3 selected="selected"> 3 </option>
									<option value=4> 4 </option>
									<option value=5> 5 </option>
									<option value=6> 6 </option>
									<option value=7> 7 </option>								
								</select>
						</td>
					</tr></table>
					
					<input type="hidden" class="jtl-params" id="jtl-startTime" /> 
					<input type="hidden" class="jtl-params" id="jtl-endTime" />
				</div>
				
				<!-- 
				X: <input id="box1" type="text" style="width:40px;"/>
				Y: <input id="box2" type="text" style="width:40px;"/><br/>
				X: <input id="box3" type="text" style="width:40px;"/>
				Y: <input id="box4" type="text" style="width:40px;"/><br/>
				X: <input id="box5" type="text" style="width:40px;"/>
				Y: <input id="box6" type="text" style="width:40px;"/><br/>
				dX: <input id="box7" type="text" style="width:40px;"/>
				dY: <input id="box8" type="text" style="width:40px;"/><br/>
				-->
				<div class="info-divider"></div>
			</div>
			
			<div id="top-tab-2" class="top-tab">
				<div class="info-legend">
					<span style="font-weight:bold;text-decoration:underline;">Legend</span><br/>
					<span style="color:#0000FF;"> Vegan </span> <br>
					<span style="color:#00AA00;"> Vegetarian </span> <br>
					<span style="color:#8000FF;"> Contains Pork </span> <br>
					<span style="color:#990000;"> Contains Nuts </span> <br>
				</div>
				<h2 class="info-title">Dining Hall Menus</h2>
				<div class="isolated">
<p>Browse the day's menus for our campus dining halls.</p>
				</div>
				<h5 class="info-timestamp" id="info-timestamp-2"></h5>
				<div class="info-divider"></div>
			</div>

			<div id="top-tab-3" class="top-tab">
				<h2 class="info-title">Laundry Machines</h2>
				<div class="isolated">
<p>Find available washers and dryers tracked by the University's <a href="http://www.laundryview.com/lvs.php">LaundryView</a> service.</p>
				</div>
				<h5 class="info-timestamp" id="info-timestamp-3"></h5>
				<div class="info-divider"></div>
			</div>
			
			<div id="top-tab-4" class="top-tab">
				<h2 class="info-title">OIT "All Clusters" Printers</h2>
				<div class="isolated">
<p>View all printers accessible through
the print queue "All_Clusters" on \\scsprint-prod1.  To
connect to this queue from your personal machine, see the
<a href="http://kb.princeton.edu/8329">OIT KnowledgeBase</a>.</p>
				</div>
				<h5 class="info-timestamp" id="info-timestamp-4"></h5>
				<div class="info-divider"></div>
			</div>
			
			<div id="top-tab-5" class="top-tab">
				<h2 class="info-title">Campus Locations</h2>
				<div class="isolated">
<p>Click any building to the left, or enter a location name in the
search bar, to find a place on campus!</p>
				</div>
				<div class="info-divider"></div>
			</div>
			
		</div>
	</div>
	
	<div id="info-bot"></div>
</div>
</div>

<div id="jtl-toggle">
	<span></span>
</div>
<div id="jmap-jtl">
	<div id="jtl-content"></div>
</div>


<div id="jmap-container">
	<div id="jmap-movable"></div>
	<div id="jmap-about">&copy; 2013
<a href="http://princetonusg.com/" target="_blank">USG</a>&nbsp;&nbsp;|&nbsp;
<a href="javascript:void(0);" target="_blank" title="<span style='font-size:12px;'>
POM is a project of the 2012 and 2013 USG. POM was initially a COS 333 project developed by
Josh Chen '14, John McSpedon '14, Ben Grange '14, Nader Al-Naji '13, and Lawrence Diao '14,
and was later improved significantly by Josh, Adam Suczewski '13, and Gabriel Chen '14.
Interested in building apps like this?
Join the USG IT Committee, at it@princetonusg.com!</span>">About</a>
	</div>
</div>

</div>
</body>
</html>
