<div>
	<h2 id="info-title">{{bldg_name}}</h2>
	<h5>Last updated {{timestamp}}</h5>
	<h1>This data is FAKE</h1>
</div>

<table class="info-table">
{% for machine in machine_list %}
	<tr><th><div style="max-width:100px;">{{machine.0}}</div></th>
		<td><div style="max-width:200px;">
			Washers:<span style='color:{{machine.5}};'> {{machine.1}} free of {{machine.2}}</span><br/>
			Dryers: <span style='color:{{machine.6}};'>{{machine.3}} free of {{machine.4}}</span></div></td>
	</tr>
{% endfor %}
</table>
