{% load hashing_filter %}

<div style="text-align:center;">
{% for tup in menu_list %}
	<div class="info-event-entry">
	{% with bldg_info|hash:tup.0 as hallname%}
		<h3 id="info-bldg-name" style="font-size:16px;">{{ hallname.0 }}</h3>
		<hr style="width:70%">
	{%endwith%}
	{%for meal in tup.1.meals%}
		<div class="info-event-entry">
			<h4 style="margin:8px 0 2px;">{{meal.0}}</h4>
			{% for entree in meal.1.entrees%}
				<div class="info-event-subtext" style='color:{{entree.color}};'>
					{{entree.attributes.name}}
				</div>
			{% endfor%}
		</div>
	{%endfor%}
	<br/>
	</div>
{% endfor %}
</div>
