{% extends 'cal/base.html' %}
{% block title %}404 Page Not Found{% endblock %}

{% block content %}
<div class="errordoc">
    <h1>Error: Page Not Found</h1>
    <p>We're sorry! The page you requested <span class="url">{{request_path}}</span> was not found.</p>
    <h3>It is possible that:</h3>
    <ul>
        <li>The URL was typed incorrectly</li>
        <li>The page you tried to access was recently removed</li>
    </ul>	
    <p>If you reached this page through a link, please let us know so we can fix it.  Email <a href="mailto:usg@princeton.edu">usg@princeton.edu</a></p>
    <h3>You can:</h3>
    <ul>
        <li>Return back to the <a href="javascript:history.go(-1)">page you came from</a></li>
        <li>Go back to the <a href="/">Princeton Events Calendar Homepage</a></li>
    </ul>
    <div style="clear: both; display: block; padding-bottom: 40px;"></div>
</div>
{% endblock %}
