{% extends 'cal/base.html' %}
{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
<div class="errordoc">
    <h1>Error: Page Cannot Be Displayed</h1>
    <p>We're sorry! The page you requested <span class="url">{{request_path}}</span> cannot be displayed.</p>
    <h3>You can:</h3>
    <ul>
        <li>Try <a href={{request_path}}>refreshing</a> the page</li>
        <li>Return back to the <a href="javascript:history.go(-1)">page you came from</a></li>
        <li>Go back to the <a href="/">Princeton Events Calendar Homepage</a></li>
    </ul>
    <div style="clear: both; display: block; padding-bottom: 40px;"></div>
</div>
{% endblock %}
