<!-- Checkout http://benkreeger.com/post/312292823/django-and-the-admin-datetime-picker -->


{% extends "cal/base.html" %}

{% block title %}Manage Event{% endblock %}

{% block headercss %}
<link href="/static/cal/css/jquery-ui-timepicker-addon.min.css" type="text/css"/>
{% endblock %}

{% block headerscript %}
<script type="text/javascript" src="/static/cal/js/core.js"></script>
<script type="text/javascript" src="/static/cal/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/cal/js/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="/static/cal/js/jquery.formset.js"></script>
<script type="text/javascript" src="/static/shared/js/textext.js"></script>
<script type="text/javascript" src="/static/cal/js/cal-tags.js"></script>

<script type="text/javascript">
$(function() {
    $('#id_event_date_time_start').datetimepicker({timeFormat: "hh:mmtt"});
    $('#id_event_date_time_end').datetimepicker({timeFormat: "hh:mmtt"});
    $('#id_event_date_rsvp_deadline').datepicker();
    prepareTags();
});
</script>  

{{ eventForm.media }}
{% endblock %}

{% block content %}
<h1 id="title">Modify Event</h1>

{% if clusterForm.errors or eventForm.errors %}
There was an error with the submission.<br /><br />
{% endif %}

<form action="" method="POST" enctype="multipart/form-data" >

<table class="formTable">

      {% for field in clusterForm %}
        <tr>
            <th class="tableLabel">{{ field.label_tag }}: 
            {% if field.field.required %}<br /><span class="required">Required<br />&nbsp;</span>{% endif %} </th>

            <td>
            {% if field.errors %}
              <ul class="errorlist">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}

            {% if field.name == "cluster_tags" %}
              <!-- TODO: need to add field.value to populate field with existing list of tags -->
              <textarea id="id_cluster_tags_ui" name="cluster_tags" rows="1"></textarea>
            {% else %}
              {{ field }}
            {% endif %}

            {% if field.help_text %}
              <br />
              {{ field.help_text }}
            {% endif %}
            </td>
         </tr>
      {% endfor %}

      {% for field in eventForm %}
         <tr>
            <th class="tableLabel">{{ field.label_tag }}: 
            {% if field.field.required %}<br /><span class="required">Required<br />&nbsp;</span>{% endif %} </th>
            <td>{% if field.errors %}
               <ul class="errorlist">
               {% for error in field.errors %}
               <li>{{ error }}</li>
               {% endfor %}
               </ul>
               {% endif %}
               {{ field }}
               {% if field.help_text %}
               <br />
               {{ field.help_text }}
               {% endif %}</td>
         </tr>
      {% endfor %}

</table>
<input type="submit" value="Update Event and Notify Attendees" name="submit" />
<input type="submit" value="Update Event and Skip Notification" name="submitnonotify" />
<input type="button" value="Cancel and Return" onClick="document.location.href='/events/{{ event.pk }}';"/>
<!-- input type="reset" value="Reset" name="reset" / -->
</form>

		
{% endblock %}

