{% load app_extras %}
{% if evinner_title %}<h1 class="title" style="margin:0;">{{evinner_title}}</h1>{% endif %}
<ul class="events">
{% if grouped_events %}{% for group, events in grouped_events %}
  <li class="evlist-date{% if not events %} evlist-none{% endif %}">{{group}}</li>
  {% if events %}{% for event, rsvp in events %}<li class="evlist-event">
    <div class="event-time">
      {% if evlist_show_date %}
      	<span class="event-date-abovetime">{{event.getFormattedShortStartDate}}</span>
      {% endif %}
      <span {% if rsvp %}style="border-bottom: 2px dotted {% ifequal rsvp.rsvp_type 'Accepted' %}green;{% endifequal %}{% ifequal rsvp.rsvp_type 'Declined' %}red;{% endifequal %}{% ifequal rsvp.rsvp_type 'Pending' %}orange;{% endifequal %}"{% endif %}>
        <a {% if rsvp %}class="rsvp_indicator" title="<span style='letter-spacing: 0.05em;'>{{event}}</span>|{% ifequal rsvp.rsvp_type 'Accepted' %}You've previously added this event to your calendar.{% endifequal %}{% ifequal rsvp.rsvp_type 'Declined' %}You've declined {{rsvp.rsvp_referrer.full_name}}'s invitation to this event.{% endifequal %}{% ifequal rsvp.rsvp_type 'Pending' %}{{rsvp.rsvp_referrer.full_name}} has invited you to this event.{% endifequal %}"{% endif %} href="/events/{{event.event_id}}">{{event.getTime}}</a>
      </span>
    </div>
    <div class="event-title{% if event.event_cancelled %} strikethrough{% endif %}">
      {% for feat in event.event_cluster.cluster_features.all %}
      	<a class="events-feat events-feat-img" href="/evlist/gen/?feat={{feat.id}}"><img src="/static/cal/{{feat.feature_icon}}" title="{{feat.feature_name}}"/></a>
      {% endfor %}
      {% for tag in event.event_cluster.cluster_tags.all %}
        <a class="text-button" href="/evlist/gen/?tag={{tag}}">#{{tag}}</a>
      {% endfor %}
      <a {% ifequal user_data event.event_cluster.cluster_user_created %}class="event-owner"{% endifequal %}href="/events/{{event.event_id}}">{{event}}</a>
      {% if event.event_cluster.cluster_image %}<a rel="shadowbox[Gallery]" href="{{event.event_cluster.cluster_image.url}}" title="{{ event.displayname }}"><img src="/static/cal/img/design/icon-clip.png" /></a>{% endif %}
      <span class="event-subtext">{{event.get_event_location_display}}{% if event.event_location_details %}{% if event.get_event_location_display %}, {% endif %}{{event.event_location_details}}{% else %}{% if not event.get_event_location_display %}No location provided {% endif %}{% endif %}{% ifnotequal event.event_attendee_count 0 %}| {{event.getAttendeeCount}} attendee{{event.getAttendeeCount|pluralize}}{% endifnotequal %}</span>
    </div>
  </li>{% endfor %}{% else %}
  <li class="evlist-none evlist-none-desc">There are no events to display.</li>
{% endif %}{% endfor %}{% else %}
<li class="evlist-none-desc"">There are no events to display.</li>
{% endif %}
</ul>
