{% extends "cal/base.html" %}
{% load app_extras %}

{% block title %}{{tabtitle}}{% endblock %}
{% block headercss %}<link rel="stylesheet" href="/static/cal/css/coin-slider-styles.css" type="text/css" />{% endblock %}
{% block headerscript %}
<script type="text/javascript" src="/static/cal/js/coin-slider.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#coin-slider').coinslider({ width: 260, delay: 5000 });
        $('#coin-slider2').coinslider({ width: 260, delay: 5000 });
    });
</script>
<script type="text/javascript">
$(document).ready(function() {
  $('.rsvp_indicator').cluetip({
    showTitle: true, // hide the clueTip's heading
    splitTitle: '|',
    width: 540,
    clickThrough: true,
    cluetipClass: 'jtip', 
    arrows: false, 
    dropShadow: true,
    hoverIntent: false,
    sticky: false,
    mouseOutClose: true,
  });
});
</script>
<link rel="stylesheet" type="text/css" href="/static/cal/js/shadowbox/shadowbox.css">
<script type="text/javascript" src="/static/cal/js/shadowbox/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init();
</script>
{% endblock %}

{% block top %}
{% if poster_events %}
<div style="display: block; padding: 6px;">
<table style="border-spacing: 30px;">
<tbody>
<tr><td style="font-size: 18px; text-align: center;">Upcoming Events</td><td style="font-size: 18px; text-align: center;">Popular Events</td></tr>
<tr>
<td>
<div id='coin-slider' style="width: 260px;">
{% for pev in poster_events %}
    <a href="/events/{{pev.pk}}">
        <img src='{{pev.event_cluster.cluster_image.thumbnail.url}}' >
        <span>
            {{pev.displayname}}
        </span>
    </a>
{% endfor %}
</div>
</td>
<td>
<div id='coin-slider2' style="width: 260px;">
{% for pev in hotest_events %}
    <a href="/events/{{pev.pk}}">
        <img src='/{{pev.event_cluster.cluster_image.thumbnail.url}}' >
        <span>
            {{pev.displayname}}
        </span>
    </a>
{% endfor %}
</div>
</td>
</tr>
</tbody>
</table>
</div>
{% endif %}
{% endblock %}

{% block content %}
<h1 id="title">{{tabtitle}}</h1>

<ul class="events">
{% if all_my_dates %}
{% for date in all_my_dates %}
<li class="date">{{date}}</li>
{% if events_on_date|dict_get:date %}
{% for event,rsvp in events_on_date|dict_get:date %}

<li><ul>

<li class="event-title{% if event.event_cancelled %} strikethrough{% endif %}">{% for feat in event.event_cluster.cluster_features.all %}<a href="/cal/upcoming/?feat={{feat.feature_name}}"><img src="/static/cal/{{feat.feature_icon}}" title="{{feat.feature_name}}" alt="{{feat.feature_name}}" style="float: right; height: 20px; width: 20px;"/></a>{% endfor %}<a {% ifequal user_data event.event_cluster.cluster_user_created %}class="event_owner" {% endifequal %}href="/events/{{event.event_id}}">{{event}}</a>{% if event.event_cluster.cluster_image %}<a rel="shadowbox[Gallery]" href="/{{event.event_cluster.cluster_image.url}}" title="{{ event.displayname }}"><img src="/static/cal/img/design/icon-clip.png" /></a>{% endif %}</li>
<li class="event-time"><span{% if rsvp %} style="border-bottom: 2px dotted {% ifequal rsvp.rsvp_type 'Accepted' %}green;{% endifequal %}{% ifequal rsvp.rsvp_type 'Declined' %}red;{% endifequal %}{% ifequal rsvp.rsvp_type 'Pending' %}orange;{% endifequal %}"{% endif %}><a {% if rsvp %}class="rsvp_indicator" title="<span style='letter-spacing: 0.05em;'>{{event}}</span>|{% ifequal rsvp.rsvp_type 'Accepted' %}You've previously added this event to your calendar.{% endifequal %}{% ifequal rsvp.rsvp_type 'Declined' %}You've declined {{rsvp.rsvp_referrer.full_name}}'s invitation to this event.{% endifequal %}{% ifequal rsvp.rsvp_type 'Pending' %}{{rsvp.rsvp_referrer.full_name}} has invited you to this event.{% endifequal %}"{% endif %}style="text-decoration: none;" href="/events/{{event.event_id}}">{{event.getTime}}</a></span></li>
<li class="event-subtext">{{event.get_event_location_display}} {{event.event_location_details}} {% if not event.get_event_location_display %}{% if not event.event_location_details %}No location provided {% endif %}{% endif %}{% ifnotequal event.event_attendee_count 0 %}| {{event.getAttendeeCount}} attendee{{event.getAttendeeCount|pluralize}}{% endifnotequal %}</li>

</ul></li>
{% endfor %}
{% else %}There are no events to display.{% endif %}
{% endfor %}
{% else %}
There are no events to display.
{% endif %}

</ul>

{% if not all_my_dates and show_prev %}
<span id="no_upcoming">You have no upcoming events</span>
{% endif %}

{% if show_prev %}
<p>
<br /><span style="text-transform:uppercase;"><a href="/user/oldevents">See Older Events</a></span>
</p>
{% endif %}

<div style="height: 24px; clear: both;"></div>

<div style="width: 70%; padding: 8px; margin-top: 12px; background-color: #f0f0ff; border: 1px Solid #ccccff;">
<p style="font-size: 16px; font-weight: bold;"><a href="/feeds/"><img src="/static/cal/css/img/200px-Feed-icon.svg.png" style="float: right;"/></a>Want easier access to your events?</p>
Have these events show up in your personal Google Calendar, iCal, or Outlook. <a href="/feeds/">Subscribe here.</a>
</div>
{% endif %}

<div class="legend" style="width: 70%; padding-top: 8px; margin-top: 12px;">
<h2 class="legend-title">Features</h2>
<div style="padding-top: 16px;">
{% for feat in feat_opts %}
<span style="white-space:nowrap; padding-right: 12px;"><a href="/cal/{{timeselect}}/?feat={{feat.feature_name}}"><img src="/static/cal/{{feat.feature_icon}}" alt="{{feat.feature_name}}" style="height: 24px; width: 24px;"/></a> <a href="/cal/{{timeselect}}/?feat={{feat.feature_name}}" style="vertical-align: top;">{{feat.feature_name}}</a></span>
{% endfor %}
</div>
</div>
{% endblock %}
