<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Princeton USG IT Committee">
	<meta name="keywords" content="Princeton,TigerApps,Tiger,Apps">
	<link rel="icon" 
	      type="image/ico" 
	      href="/static/tigerapps/images/favicon.ico">
	<title> {% block title %}USG TigerApps{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/tigerapps/css/styles.css" />
	{% block headercss %}{% endblock %}

{% include 'tigerapps/tigerapps_gaq.html' %}
</head>
    
<body>
{% include "toolbar/links.html" %}

	<div class="wrapper">
		
    	<!--Header-->
	    <div class="header">
	    	<div class="logo">
	    		{% block logo %}
				{% endblock %}
			</div>
			<div class="headerlinks">
				{% block headerlinks %}
				<a href="http://usg.princeton.edu"><img id="logo-usg" src="/static/tigerapps/images/usg-225-trans.png" alt=""/></a>
				{% endblock %}
			</div>
	    </div>
			
        <!--Content-->
		<div class="content">
		 	{% block content %}
			{% endblock %}
		</div>

	</div><!--Wrapper-->
	
    <div class="footer"><small>
    	&copy; <a href="http://www.tigerapps.org/about/">Princeton USG IT Committee</a> 2011-<br/>
    	<a href="http://www.tigerapps.org/">TigerApps</a> |
    		<a href="http://usg.princeton.edu/">Princeton USG</a> |
    		<a href="http://www.princeton.edu/">Princeton University</a>
    	{% block footer %}{% endblock %}
	</small></div>
</body>
</html>

