{% extends "dvd/baseadmin.html" %}

{% block admincontent %}

{% if checked_list %}
	<h1>Mixed success!</h1>

	<p>The following DVDs have been checked in:</p>
	<ul>{% for dvd in checked_list %}
		<li>{{dvd.name}}</li>
	{% endfor %}</ul>

	<p>However, there are multiple copies of the DVDs you selected checked out - please mark who returned the following DVDs you're checking in:</p>
{% else %}
	<h1>Houston, we have a problem!</h1>
	
	<p>There are multiple copies of the DVDs you selected checked out - please mark who returned the following DVDs you're checking in:</p>
{% endif %}

<div class="dvdlist">
<form action="/dvdadmin/checkin/dvd/" method="post">
	<table>
		<tr><th>DVD name</th>
			<th>NetID</th>
		</tr>
		{% for dvd,rentals in ambiguous_list %}
		<tr><td>{{dvd.name}}</td>
			<td><select name="dvd-{{dvd.dvd_id}}">
				<option></option>
				{% for rental in rentals %}<option value="{{rental.rentalID}}">{{rental.netid}}</option>{% endfor %}
			</select></td>
		</tr>
		{% endfor %}
	</table>
	<p><input type="submit" value="Check in" /></p>
</form>
</div>
{% endblock %}