{% extends "dvd/base.html" %}

{% block dvdtitle %}Admin{% endblock %}

{% block content %}
<div class="admin-header" style="text-align:center;">
<ul>
	<li><b>Basic tasks:</b>
		<a href="/dvdadmin/">Admin Home</a> |
		<a href="/dvdadmin/checkout/">Check out</a> |
		<a href="/dvdadmin/checkin/user/">Check in by NetID</a> |
		<a href="/dvdadmin/checkin/dvd/">Check in by DVD</a></li>
	<li><b>Advanced tasks:</b>
		<a href="/dvdadmin/addadmin/">Add an admin</a> |
        <a href="/admin/">Change homepage blurb</a></li>
	<li><b>DVD management:</b>
		<a href="/dvdadmin/dvd/add/">Add DVD</a> |
		<a href="/dvdadmin/dvd/edit/">Edit/Remove DVD</a></li>
</ul>
</div>
<div class="admin-content">
{% block admincontent %}{% endblock %}
</div>
{% endblock %}
