{% extends "dvd/base.html" %}

{% block dvdtitle %}Home{% endblock %}

{% block content %}
<div class="intro">
{%autoescape off%}{{blurb_homepage}}{%endautoescape%}
</div>

<div class="dvdlist">
<table>
    <tr>
        <th>DVD name</th>
        <th>Amount Available</th>
    </tr>
	{% for DVD in DVD_list %}
    <tr>
		<td>{%if DVD.imdbID %}<a href="http://www.imdb.com/title/{{DVD.imdbID}}" target="_blank">{% endif %}{{DVD.sortname}}{%if DVD.imdbID %}</a>{% endif %}</td>
		<td>{{DVD.amountLeft}} of {{DVD.amountTotal}} {% ifequal DVD.amountLeft 0 %} <a href="/notify/{{DVD.dvd_id}}">(Email me when it becomes available)</a>{% else %} (Email me when it becomes available) {% endifequal %}</td>
	</tr>
	{% endfor %}
</table>
{% if not DVD_list %}<p>No DVD's detected. Something must be broke. </p>{% endif %}
</div>

{% endblock %}
