{% extends "dvd/base.html" %}

{% block dvdtitle %}Home{% endblock %}

{% block content %}
<div class="intro">
    <p>Who needs Netflix, anyway? The USG is in the DVD rental business! Stop by the USG office (204 Frist). You can rent any of these popular movies for two days, FOR FREE. Then just drop your movie back off through the mail slot by 2PM on the due date and you're good to go! This page shows which DVDs are available to rent, and if all the copies of a movie are being rented, you can choose to be notified by email when a copy comes back in. It couldn't be simpler!</p>
    <p>The USG Office is open everyday, <b>4:30pm-9:30pm</b>, so come on in and pickup a movie!</p>
</div>

<div class="dvdlist">
<table>
    <tr>
        <th>DVD name</th>
        <th>Amount Available</th>
    </tr>
	{% for DVD in DVD_list %}
    <tr>
		<td>{%if DVD.imdbID %}<a href="http://www.imdb.com/title/{{DVD.imdbID}}" target="_blank">{% endif %}{{DVD.sortname}}{%if DVD.imdbID %}</a>{% endif %}</td>
		<td>{{DVD.amountLeft}} of {{DVD.amountTotal}} {% ifequal DVD.amountLeft 0 %} <a href="/notify/{{DVD.dvd_id}}">(Email me when it becomes available)</a>{% else %} (Email me when it becomes available) {% endifequal %}</td>
	</tr>
	{% endfor %}
</table>
{% if not DVD_list %}<p>No DVD's detected. Something must be broke. </p>{% endif %}
</div>

{% endblock %}