$colorA: #276CA1;
$colorB: #071b34;
$card-border-radius: 3px;

#main-wrap {
  position: absolute;
  top: 171px;
  bottom: 1px;
  background-color: white;

  .container {
    padding: 0 !important;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
    overflow: hidden;

    #wsite-content {
      text-align: left !important;
      height: 100%;

      * {
        box-sizing: border-box;
      }

      > span, > img {
        display: none;
      }
    }
  }
}

#footer-wrap {
  display: none;
}

$column-header-height: 40px;
@mixin column-header() {
  > h1 {
    padding: 0 10px;
    font-size: 20px;
    line-height: $column-header-height;
    color: white;
    background-color: $colorA;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2000;

    > span {
      display: block;
      float: right;
      font-weight: normal;
    }
  }
}

#courses_left {
  @include column-header();

  $number-of-hours: 13;
  $schedule-height: 300px;
  $left-labels-width: 40px;
  $top-labels-height: 20px;

  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;

  border-right: 2px solid $colorB;

  #course_schedule_wrap {
    overflow: auto;
    background-color: $colorB;
    color: white;
    font-size: small;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1000;

    #course_schedule_labels_top {
      overflow: auto;
      line-height: $top-labels-height;
      margin-left: $left-labels-width;

      .course_schedule_labels_top_day {
        text-align: center;
        float: left;
        width: 20%;
      }
    }

    #course_schedule_labels_left {
      float: left;
      width: $left-labels-width;
      padding: 0 5px;
      line-height: ($schedule-height - $top-labels-height) / $number-of-hours;
    }

    #course_schedule {
      margin-left: $left-labels-width;
      overflow: auto;

      .course_schedule_day {
        float: left;
        width: 20%;
        height: $schedule-height - $top-labels-height;
        position: relative;

        .course_schedule_item {
          position: absolute;
          background-color: $colorA;
          padding: 2px;
          width: 100%;
          margin: 5px 5px 5px 0;
          border-radius: $card-border-radius;
          overflow: hidden;
          font-size: 10px;
          line-height: normal;
          border: 1px solid $colorB;
          -webkit-animation: scheduleShow 0.1s;

          @-webkit-keyframes scheduleShow {
            from {
              transform: scale(0.8);
            }
            to {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  #course_list {
    position: absolute;
    top: $column-header-height + $schedule-height;
    bottom: 0;
    overflow: auto;
    padding: 30px 30px 0;
    width: 100%;
  }
}

#courses_right {
  @include column-header();

  position: absolute;
  left: 50%;
  width: 50%;
  top: 0;
  bottom: 0;

  $courses_list_filter_height: 40px;

  #courses_list_filter {
    position: absolute;
    top: $column-header-height;
    height: $courses_list_filter_height;
    width: 100%;
    line-height: $courses_list_filter_height;
    font-size: 16px;
    vertical-align: middle;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1001;

    input {
      font-size: 14px;
    }
  }

  #course_catalog {
    width: 100%;
    padding: 30px 30px 0;
    overflow: auto;
    position: absolute;
    top: $column-header-height + $courses_list_filter_height;
    bottom: 0;
  }
}

@mixin card_headers() {
  h1, h2 {
    padding-top: 0;
    line-height: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
    font-weight: normal;
  }
}

.course_mini_item {
  @include card_headers();

  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: white;
  position: relative;
}

.course_item {
  @include card_headers();

  margin-bottom: 30px;

  &.is-cancelled {
    font-style: italic;

    h1 {
      text-decoration: line-through;
    }
  }

  .course_info {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
    background-color: white;
    z-index: 1000;
    position: relative;
    border-radius: $card-border-radius;

    p {
      padding: 0 !important;
    }
  }
  .course_section {
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
    padding: 7px;
    position: relative;
    font-weight: bold;

    transition: background linear 0.1s, color linear 0.1s;

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        z-index: 1000 - $i
      };
    }

    &.is-registered {
      background-color: $colorA;
      color: white;
    }

    &.is-conflicting {
      color: gray;
      font-style: italic;
    }

    .conflict-text {
      font-weight: normal;
    }
  }
}

.course_section_add, .course_section_remove {
  float: right;
  padding: 4px;
}

.is-dirty {
  opacity: 0.7;
  background: white url('files/stripes.gif') !important;
  color: black !important;
}
