html, body {
	height: 100%;
}
#title {
    line-height: 75px;
    font-size: 50px;
    font-family: 'Palatino Linotype?', 'Book Antiquaâ', Palatino, serif;
    overflow:hidden;
}

#tiles { 
    //background-color: silver;
    overflow:hidden;
}

#desc {
    background-color: black;
    overflow:hidden;
    padding: 50px;
    margin-right: 50px;
}

#container {
	max-width:1200px;
	max-height:600px;
	width:1200px;
	height:600px;
	margin:60px auto;
	position:relative;
	
	background-color:white;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*************/
/* Tile Boxes */
/*************/
.category-type {
    line-height: 50px;
    margin: 20px 20px 0px;
    font-size: 50px;
    font-family: 'Palatino Linotype?', 'Book Antiquaâ', Palatino, serif;
    overflow:hidden; 
}

.tile-app {
    float:left;
    width:120px;
    height:120px;
    box-shadow: 0 0 5px 5px #DDDDDD;
    text-align:center;
    padding:22px 20px 18px;
    margin:20px;
}

.tile-app:hover {
    cursor:pointer;
    box-shadow: 0 0 5px 5px #999999;
}

.rounded-corners {
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
     border-radius: 5px;
}

.tile-icon {
    height:90px;
    width:90px;
}

.tile-label {
    font-size:16px;
    line-height:1;
    padding:12px 0 0 0;
}


/*************/
/* Descriptions */
/*************/

.desc-app {
    display:none;
}

#desc-0 {
    display: block;
}




/*************/
/* App list */
/*************/

.cat-heading {
    font: 400 36px/1.2 'Pacifico', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    margin:8px 0 6px;
}
#big_white_box {
    background-color:#FFFDFA;
    padding-top:100px;
    width:1000px;
    margin:auto;
}

.app-row {
	margin-left:8px;
}
.app-row .span6 div {
	float:left;
	margin:0 4px;
}
.app-icon {
    max-height: 40px;
}
.app-row .span6 {
	padding: 4px 0 4px;
}
.app-row .span6 a {
	color: orange;
	font-size: 16px;
}


/*************/
/* Slideshow */
/*************/
#slideshow_container {
    position:relative;
    left:50%;
    margin-left:-400px;
    height:300px;
    width:800px;
    border-style:solid;
    border-color:black;
    border-width:10px;
}
.main_picture_container {
    height:300px;
    width:600px;
    float:left;
    position:relative;
}
.main_picture {
    height:300px;
    width:600px;
    float:left;
    top:0px;
}

/*
.all_rounded_corners {
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.top_left_rounded_corner {
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topleft: 10px; 
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

.bottom_left_rounded_corner {
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-radius-bottomleft: 10px; 
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
.top_right_rounded_corner {
    -webkit-border-top-right-radius: 10px;
    -khtml-border-radius-topright: 10px; 
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
.bottom_right_rounded_corner {
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-radius-bottomright: 10px; 
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}
*/

.app_preview {
    text-align:center;
    position:relative;
    height:60px;
    width:200px;
    background-color:#707070;
    cursor: pointer;
    border-left-style:solid;
    border-color:black;
    border-width:5px;
    font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    color:#FFFDFA;
}

.app_preview:hover {
    background-color:#505050 !important;
}

#app_preview_0 {
    background-color:#202020;
}

#slideshow_sidebar {
    position:absolute;
    top:0px;
    height:300px;
    width:200px;
    left:600px;
}

#slideshow_main_picture {
    position:absolute;
    top:0px;
    left:0px;
    height:300px;
    width:600px;
    overflow:hidden;
}

#photo_row {
    height:300px;
    width:3000px;
    left:0px;
    top:0px;
    position:absolute;
    overflow:none;
}


/*************/
/* Scrollbar */
/*************/
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 2px;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}
