<!DOCTYPE>
<html>
	<head>
		<title>Section Swap</title>
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
		<script src="static/sectionswap/bootstrap/js/bootstrap.js"></script>	
		<script src="static/sectionswap/randimg.js"></script>
		<script src="static/sectionswap/underscore.js"></script>	
		<script src="static/sectionswap/bootbox.js"></script>	
		<link href="static/sectionswap/style.css" rel="stylesheet"/>
		{% block javascript %}
		{% endblock javascript %}
		{% block style %}
		{% endblock %}
	</head>
	<body>
		<img id="randbg" src="" alt="" />
		<div id="container">
			<img id="logo" src="static/sectionswap/logo.png"/>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>