{% extends "sectionswap/base.html" %}

{% block content %}

	<div class="row-fluid">
		<div class="span12">
		{% if swaps %}
		<table id="table-manage" class="table table-hover">
			<thead>
				<tr>
					<td><b>From</b></td>
					<td><b>To</b></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			{% for swap in swaps %}
				<tr>
					<td>{{swap.have}}</td>
					<td>{{swap.want}}</td>
					<td style="font-size: 16px;"><a href="/remove/{{swap.pk}}">Remove</a></td>
				</tr>
			{% endfor %}
			</tbody>
		<table>
		{% else %}
			<p style="font-size: 20px; font-weight: bold;">You have no pending swap requests.</p>
		{% endif %}
		</div>

{% endblock %}