<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>

  <link rel="shortcut icon" href="http://point.princeton.edu/favicon.ico" type="image/x-icon" />
  <head>
    <title>Princeton University SCG: {% block title %}Student Course Guide{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/scg.css?ver=2.01" media="screen, projection" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="/media/js/boards.js"></script>
    {% block head %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35235592-1']);
  _gaq.push(['_setDomainName', 'tigerapps.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

  <body id="{% block id %}body{% endblock %}">
    {% include "main/jquery.html" %}
    <div id="container">
    <table class="header"><tr>
      <td class="header-left">
      <a href="/">
        <div class="logo"><h1>Princeton University Student Course Guide</h1></div>
      </a>
      </td>
    </tr></table>

    <div class="content">
      {% block middle %}{% endblock %}

      <div class="credits">
        Website by <a href="http://www.jperla.com/blog/">Joe Perla</a>.
        Initial design
        by <a href="http://webscript.princeton.edu/~studage/design">Student
          Design Agency</a>.
      </div>
    </div>
    </div>
  </body>

</html>
