{% extends "goodbye_base.html" %}
{% block id %}home{% endblock %}
{% block title %}Home{% endblock %}

{% block middle %}
<p class="hello">
The <strong>Princeton USG Student Course Guide</strong> is now <strong>retired</strong>. In its place, we have 2 new exciting course guide applications that we'll soon be integrating directly into tigerapps. Introducing <a href="http://easypce.com">easyPCE (Princeton Course Evaluations)</a> and <a href="http://princetoncat.org">CAT (Course Aggregation Tool)</a>!
</p>
{% endblock %}
