/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6, */p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b {
    font-weight:bold;
}

/*----------Begin-----------*/

body {
	font-family: helvetica,sans-serif;
	font-size: 13px;
	overflow: hidden;
}
h1, h2, h3 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
div, span {
	border: 0 none;
	margin:0;
	padding:0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
table {	
}

a:link, a:visited{
	color:#FF6600;
	text-decoration:none;
}
a:hover{
	color:#000000;
	text-decoration:underline;
}


#container {
    min-width: 950px;
    position: absolute;
    top:28px;
    bottom:0px;
    width:100%;
}


/*************/
/* Top panel */
/*************/
#jmap-topbar {
	background-color:#eee;
	left:0px;
	right:380px;
	position:absolute;
	border-bottom:1px solid #bbb;
	z-index:99;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#logo {
    vertical-align: middle;
    display:inline-block;
    margin: 11px 10px;
    font-size:28px;
    font-weight:bold;
    font-family:Bentham;
}
#logo-link, #logo-link:visited {
    color:black;
    text-decoration:none;
}
#logo-link:hover, #logo-link:active {
    color:#444;
    text-decoration:none;
}

#topbar-input {
    display: inline-block;
}

#layer-tabs {
    vertical-align: middle;
    display:inline-block;
    margin: 12px 0 12px 10px;
}
#layer-tabs .ui-button-text {
    font-size:14px;
}

#location-search-form {
    display:inline-block;
    margin: 12px 44px 12px 10px;
}
#location-search {
    vertical-align: middle;
    font-size:16px;
    padding: 3px 4px;
}
#location-search-div {
    display:inline-block;
    vertical-align: top;
}
#location-search-submit, .ui-autocomplete {
    font-size:14px;
}


/*************/
/* Right panel */
/*************/
#jmap-info {
	position:absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width:380px;
	
	background-color:#FAFCF8;
    box-shadow:0px 0px 6px #333;
    border:none;
    z-index:100;
}
.jmap-info-expanded {
	box-shadow:none !important;
	border-left:1px solid #ddd !important;
}
#info-content {
    float:right;
	width: 370px;
    padding:10px 5px;
}


#info-top > div > div, #info-bot > div {
	padding: 0 6px 0 12px;
	margin-right: 5px;
}
#info-top > div {
	padding: 4px 0 12px;
}
.info-legend {
    float:right;
    text-align:right;
    padding-bottom:12px;
}
.info-timestamp {
	margin: 10px 0;
    min-height: 14px;
}
.info-divider {
    padding: 0 !important;
	margin:12px -10px 0 !important;
	height: 0px;
	border-top: 1px solid #C0C0C0;
    clear:both;
}

.top-tab {
	display: none;
}
#info-bot {
	overflow-y: auto;
	margin:0;
}


#jmap-info h2 {
	padding-bottom:4px;
	font-size:18px;
}
#jmap-info h3 {
	padding-bottom:2px;
	font-size:15px;
}
.info-title {
}
.info-subtitle {	
}
.info-event-entry {
	padding-top: 6px !important;
	padding-bottom: 8px !important;
    border-top: 1px solid #FAFCF8;
    border-bottom: 1px solid #FAFCF8;
}

.info-event-subtitle {
}
.info-event-description {
	color:#464646;
}

.info-menu {
	text-align:center;
}
.info-menu h3.info-bldg-name {
	font-size:16px !important;
	width:70%;
	padding:3px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:6px auto 0;
}
.info-menu h4.info-sub-name {
	margin:6px 0 2px !important;
	text-decoration:underline;
}

.info-printers > div {
	text-align:center;
}
.info-printers > div > div {
	width:130px;
	display:inline-block;
	padding:4px 16px 4px 0;
	vertical-align: middle;
}
.printers-left, .printers-right {
	text-align:left;
}

.info-locations {
    text-align:center;
}
.info-locations img.locations-img {
    max-width: 100%;
    max-height: 400px;
    padding: 4px 0;
}
.info-locations p.locations-error {
    padding: 4px 0;
    font-style:italic;
}
.info-locations h4.locations-name {
    font-weight: bold;
    text-decoration:underline;
    margin: 2px auto 4px;
}
.info-locations ul {
    max-width:325px;
    margin: 0 auto;
}
.info-locations li.locations-org {
    margin: 6px 0;
    line-height:1;
}

span.desc-help {
	font-style:italic;
	font-size:12px;
}
div.isolated {
	margin: 4px 0 6px;
}


.info-bot-loading {
	font-size: 16px;
	margin:0;
	text-align:center;
}
.info-bot-loading img {
	height: 20px;
	width: 20px;
	padding: 0 6px;
	vertical-align: middle;
}


/*************/
/* Timeline */
/*************/
#jmap-jtl {
	position:absolute;
	top: 0px;
	right: 208px;
	bottom: 0px;
	width:162px;
    overflow:hidden;
	
	background-color:#FAFCF8;
    box-shadow:0px 0px 6px #333;
    z-index:99;
}
#jtl-toggle {
	position:absolute;
	top: 0px;
	right: 380px;
	
	height:16px;
	width:16px;
	margin-top:2px;
	padding: 7px;
	background-color:#FAFCF8;
    box-shadow:-5px 5px 0.8em -5px hsla(0, 0%, 0%, 1.0);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    z-index:102;
    cursor:pointer;
}

#jtl-content {
	height:100%;
	width:150px;
	padding:0 5px 0 7px;
}

.jtl-params {
	color:#f6931f;
	font-weight:bold;
}
.jtl-labels {
	color:#76868e;
	font-weight:bold;
}
.jtl-labels-black {
	color:#000000;
	font-weight:bold;
}



/*************/
/* Map */
/*************/
#jmap-container {
	position: absolute;
	top: 60px;
	left: 0px;
	right: 380px;
	bottom: 0px;
	background-color:LightGray;
	overflow: hidden;
}

#jmap-about {
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:1000;
    background-color:#eee;
    padding:2px 7px;
    border: 1px solid #aaa;
    color: #666;
    opacity:0.75;
    filter:Alpha(opacity=75);
}

#jmap-movable {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color:#FAFCF8;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.jmap-tile {
	position:absolute;
	width:256px;
	height:256px;
}
.jmap-bldg {
	position:absolute;
}
.jmap-bldg-active {
	cursor:pointer;
}

.map-box {
	background-color:#FAFCF8;
    opacity:0.92;
    box-shadow:0px 0px 0.8em hsla(0, 0%, 0%, 1.0);/*3px -2px 1.5em hsla(0, 0%, 0%, 1.0);*/
    z-index:100;
    border-radius: 1px;
}
#map-loading {
	position:absolute;
	padding:12px;
	top:50%;
	left:50%;
	height:20px;
	width:125px;
	margin-top:-20px;
	margin-left:-62px;
}

.info-error {
	text-align:center;
	font-style:italic;
	max-width:80%;
	margin:auto;
}
.tipsy-bold {
	font-weight:bold;
	font-size:11px;
}

.jmap-grabbing {
    cursor:url(/static/pom/img/closedhand.cur) !important;
}


/*************/
/* Other */
/*************/
.loading-spinner {
    width:20px;
    height:20px;
}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 2px;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}

