{% extends "rooms/base.html" %}

{% block dataPanel %}
<script type="text/javascript">
  $(function() {
  $( "#tabs" ).tabs({
  beforeLoad: function(event, ui) {
  var id = ui.tab.find('a')[0].id;
  current_draw = id.substring(id.length-1);
  $.publish("draw", current_draw);
  },
  load: function(event, ui) {
  $("#drawtable" + current_draw).tablesorter({headers: { 0: { sorter: false}}});
  $("#drawtable" + current_draw).tableFilter();
  }});
  });
  $("#tabs").tabs("option", "cache", true);
</script>

<div id="roomlist">
  <div id="tabs">
    <ul>
      <span>Draw / Queue Type:</span>
      {% for draw in draw_list %}
      <li id="tabheaders"><a id="drawref{{ draw.id }}" href="/drawid/{{ draw.id }}" title="drawtab">{{ draw }}</a></li>
      {% endfor %}
    </ul>
    <div id="traycontrols">
      <span id="expandMap">&darr; Lower</span>
      <span id="restoreMap">- Restore</span>
      <span id="contractMap">&uarr; Raise</span>
    </div>
  </div>
</div>

{% endblock dataPanel %}
