{% load value_from_settings %}
<link rel="stylesheet" type="text/css" href="http://{% value_from_settings CURRENT_HOST_PREFIX %}tigerapps.org/static/toolbar/css/toolbar.css" media="screen" />
<div id="toolbar">
    <div id="toolbar-left" style="position:absolute;left:0;top:0;">
        <div class="toolbar-app"><a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}tigerapps.org/">Tigerapps Home</a></div>
        <div class="toolbar-app"><a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}pom.tigerapps.org/">POM</a></div>
        <div class="toolbar-app"><a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}cal.tigerapps.org/">TigerCal</a></div>
        <div class="toolbar-app"><a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}ttrade.tigerapps.org/">TigerTrade</a></div>
        <div class="toolbar-app"><a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}ice.tigerapps.org/">ICE</a></div>
        <div class="toolbar-app"><a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}scg.tigerapps.org/">SCG</a></div>
        <div class="toolbar-app"><a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}rooms.tigerapps.org/">Rooms</a></div>
    </div>

    <div style="position:absolute;right:0;top:0;">
        <div id="toolbar-announcement" class="toolbar-text">
            {% include "main/announcement.html" %}
        </div>

        <div id="toolbar-right">
            <div id="tigerapps-feedback" class="toolbar-text" style="font-weight:bold;float:left;padding-right:8px;">
                <a href="http://www.surveygizmo.com/s3/623136/TigerApps-Feedback">Feedback</a>
            </div>
            <a id="princeton-icon" href="http://princeton.edu"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/princeton-shield.png" alt="Princeton" style="height:25px;width:25px;"/></a>
            <a id="usg-icon" href="http://usg.princeton.edu"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/usglogoless.png" alt="USG" style="height:25px;width:25px;"/></a>
            <a id="twitter-icon" href="http://twitter.com/#!/princetonusg"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/icon-twitter.png" alt="twitter" style="height:25px;width:25px;"/></a>
            <a id="facebook-icon" href="https://www.facebook.com/princetonusg"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/icon-facebook.png" alt="facebook" style="height:23px;width:23px;border:1px solid transparent;"/></a>
        </div>
    </div>
</div>
<div style="height: 30px; width: 100%; display: block;"></div>
