{% load value_from_settings %}
<link rel="stylesheet" type="text/css" href="http://www.tigerapps.org/static/toolbar/css/toolbar.css" media="screen" />
<div id="toolbar">
    <div id="toolbar-left" style="position:absolute;left:0;top:0;">
        <div class="toolbar-app"><a href="http://www.tigerapps.org/">Tigerapps Home</a></div>
        <div class="toolbar-app"><a href="http://ice.tigerapps.org/">ICE</a></div>
        <div class="toolbar-app"><a href="http://scg.tigerapps.org/">SCG</a></div>
        <div class="toolbar-app"><a href="http://ptx.tigerapps.org/">PTX</a></div>
        <div class="toolbar-app"><a href="http://cal.tigerapps.org/">Cal</a></div>
        <div class="toolbar-app"><a href="http://pam.tigerapps.org/">PAM</a></div>
    </div>

    <div style="position:absolute;right:0;top:0;">
        <div id="toolbar-announcement" class="toolbar-text">
            {% include "main/announcement.html" %}
        </div>

        <div id="toolbar-right">
            <div id="tigerapps-feedback" class="toolbar-text" style="font-weight:bold;float:left;padding-right:8px;">
                <a href="http://www.surveygizmo.com/s3/623136/TigerApps-Feedback">Feedback</a>
            </div>
            <a id="princeton-icon" href="http://princeton.edu"><img id="usg_logo" src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/princeton-shield.png" alt="Princeton" style="height:25px;width:25px;"/></a>
            <a id="usg-icon" href="http://usg.princeton.edu"><img id="usg_logo" src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/usglogoless.png" alt="USG" style="height:25px;width:25px;"/></a>
            <a id="twitter-icon" href="http://twitter.com/#!/princetonusg"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/icon-twitter.png" alt="twitter" style="height:25px;width:25px;"/></a>
            <a id="facebook-icon" href="https://www.facebook.com/princetonusg"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/icon-facebook.png" alt="facebook" style="height:23px;width:23px;border:1px solid transparent;"/></a>
        </div>
    </div>
</div>
<div style="height: 30px; width: 100%; display: block;"></div>

<!--
<ul>
    <li><a href="http://pam.tigerapps.org" class="submenlink"> Prospect Avenue Map</a></li>
    <li><a href="http://ice.tigerapps.org" class="submenlink">ICE</a></li>
    <li><a href="http://deals.tigerapps.org" class="submenlink">TigerDeals</a></li>
    <li><a href="http://cal.tigerapps.org" class="submenlink">Events Calendar</a></li>
    <li><a href="http://ttrade.tigerapps.org" class="submenlink">TigerTrade</a></li>
    <li><a href="http://ptx.tigerapps.org" class="submenlink">Textbook Exchange</a></li>
    <li><a href="http://scg.tigerapps.org" class="submenlink">Student Course Guide</a></li>
    <li><a href="http://join.tigerapps.org" class="submenlink">Join USG</a></li>
    <li><a href="http://dvd.tigerapps.org" class="submenlink">USG DVD</a></li>
    <li><a href="http://princeton2016.com" class="submenlink">Princeton 2016</a></li>
    <li><a href="http://elections.tigerapps.org" class="submenlink">Elections Registration</a></li>
    <li><a href="http://ccc.tigerapps.org" class="submenlink">Campus Community Challenge</a></li>
</ul>
<ul>
    <li><a href="http://webmail.princeton.edu/" class="submenlink">Webmail</a></li>
    <li><a href="http://blackboard.princeton.edu" class="submenlink">Blackboard</a></li>
    <li><a href="http://registrar.princeton.edu/score" class="submenlink">SCORE</a></li>
    <li><a href="http://registrar.princeton.edu" class="submenlink">Registrar</a></li>
    <li><a href="http://library.princeton.edu" class="submenlink">Library</a></li>
    <li><a href="http://registrar.princeton.edu/academic-calendar/" class="submenlink">Academic Calendar</a></li>
    <li><a href="http://etcweb.princeton.edu/pumap/" class="submenlink">Campus Map</a></li>
    <li><a href="http://helpdesk.princeton.edu/kb/search.plx" class="submenlink">OIT Help</a></li>
</ul>
-->
