{% load value_from_settings %}
<div id="toolbar">
	<ul class="sf-menu" id="ul-toolbar">
		<li class="left" id="menu-tigerapps"> 
			<a href="http://tigerapps.org"><img id="usg_logo" src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/tigerapps-medium.png" height="31" width="35" alt="Princeton" /></a>
			<!--<a href="http://tigerapps.org">TigerApps</a>-->
			<ul>
				<!--Someday... <li><a href="http://my.tigerapps.org" class="submenlink">MyPrinceton</a></li>-->
				<li><a href="http://pam.tigerapps.org" class="submenlink"> Prospect Avenue Map</a></li>
				<li><a href="http://ice.tigerapps.org" class="submenlink">ICE</a></li>
				<li><a href="http://deals.tigerapps.org" class="submenlink">TigerDeals</a></li>
				<li><a href="http://cal.tigerapps.org" class="submenlink">Events Calendar</a></li>
				<li><a href="http://ttrade.tigerapps.org" class="submenlink">TigerTrade</a></li>
				<li><a href="http://ptx.tigerapps.org" class="submenlink">Textbook Exchange</a></li>
				<li><a href="http://scg.tigerapps.org" class="submenlink">Student Course Guide</a></li>
				<li><a href="http://join.tigerapps.org" class="submenlink">Join USG</a></li>
				<li><a href="http://dvd.tigerapps.org" class="submenlink">USG DVD</a></li>
				<li><a href="http://princeton2015.com" class="submenlink">Princeton 2015</a></li>
				<li><a href="http://elections.tigerapps.org" class="submenlink">Elections Registration</a></li>
				<li><a href="http://ccc.tigerapps.org" class="submenlink">Campus Community Challenge</a></li>
			</ul>
		</li>
		<li class="left" id="menu-usg"> 
			<a href="http://princeton.edu"><img id="usg_logo" src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/princeton-shield.png" height=31 width=35 alt="Princeton" /></a>
			<ul>
				<li><a href="http://webmail.princeton.edu/" class="submenlink">Webmail</a></li>
				<li><a href="http://blackboard.princeton.edu" class="submenlink">Blackboard</a></li>
				<li><a href="http://registrar.princeton.edu/score" class="submenlink">SCORE</a></li>
				<li><a href="http://registrar.princeton.edu" class="submenlink">Registrar</a></li>
				<li><a href="http://library.princeton.edu" class="submenlink">Library</a></li>
				<li><a href="http://registrar.princeton.edu/academic-calendar/" class="submenlink">Academic Calendar</a></li>
				<li><a href="http://etcweb.princeton.edu/pumap/" class="submenlink">Campus Map</a></li>
				<li><a href="http://helpdesk.princeton.edu/kb/search.plx" class="submenlink">OIT Help</a></li>
			</ul>
		</li>
	<li class="left" id="menu-usg"> 
		<a href="http://princetonusg.com/"><img id="usg_logo" src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/usglogoless.png" height="31" width="35" alt="USG"/></a>
		<ul>
			<li><a href="http://princetonusg.com/" class="submenlink">Home</a></li>
		</ul>
	</li>
	</ul>

    <div style="margin:1px 4px;float:left;">
        <div class="toolbar-text" id="tigerapps-announcement">{% include "main/announcement.html" %}</div>
	</div>
	
    <div style="margin:1px 4px;float:right;">
		<a id="twitter-icon" href="http://twitter.com/#!/princetonusg"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/icon-twitter.png" alt="twitter" style="height:25px;width:25px;"/></a>
		<a id="facebook-icon" href="https://www.facebook.com/princetonusg"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/icon-facebook.png" alt="facebook" style="height:23px;width:23px;border:1px solid transparent;"/></a>
		<a id="reddit-icon" href="http://www.reddit.com/r/princeton"><img src="{% value_from_settings CURRENT_HOME %}/static/toolbar/images/icon-reddit.png" alt="reddit" style="height:25px;width:25px;"/></a>
    </div>

    <div style="margin:1px 4px;float:right;">
        <div class="toolbar-text" id="tigerapps-feedback"><a href="http://www.surveygizmo.com/s3/623136/TigerApps-Feedback">Feedback</a></div>
	</div>
	
	
</div>
<div style="height: 30px; width: 100%; display: block;"></div>
