<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/index/css/style.css" />
        <script type="text/javascript" src="/static/index/js/main.js"></script>
        <script type="text/javascript" src="/static/index/js/jquery.color.js"></script>
    </head>
    <body>
        <script>
        $(document).ready( function() {
            tigerapps.initializeTigerapps();
        });
        </script>
        <div id="slideshow_container">
        <div id="slideshow_main_picture">
            <div id="photo_row">
                <div id="main_picture_0" class="main_picture_container"><img src="/static/images/app_screenshots/ICE.png" class="main_picture top_left_rounded_corner bottom_left_rounded_corner" ></div>
                <div id="main_picture_1" class="main_picture_conatiner"><img src="/static/images/app_screenshots/PAM.png" class="main_picture top_left_rounded_corner bottom_left_rounded_corner" ></div>
                <div id="main_picture_2" class="main_picture_container"><img src="/static/images/app_screenshots/SCG.png" class="main_picture top_left_rounded_corner bottom_left_rounded_corner" ></div>
                <div id="main_picture_3" class="main_picture_container"><img src="/static/images/app_screenshots/ICE.png" class="main_picture top_left_rounded_corner bottom_left_rounded_corner" ></div>
                <div id="main_picture_4" class="main_picture_container"><img src="/static/images/app_screenshots/PAM.png" class="main_picture top_left_rounded_corner bottom_left_rounded_corner" ></div>
            </div>
        </div>
        <div id="slideshow_sidebar">
            <div id="app_preview_0" class="app_preview top_right_rounded_corner" onclick="tigerapps.userSelectFeaturedApp(0)" >ICE</div>
            <div id="app_preview_1" class="app_preview" onclick="tigerapps.userSelectFeaturedApp(1)">PAM</div>
            <div id="app_preview_2" class="app_preview" onclick="tigerapps.userSelectFeaturedApp(2)">SCG</div>
            <div id="app_preview_3" class="app_preview" onclick="tigerapps.userSelectFeaturedApp(3)">ICE</div>
            <div id="app_preview_4" class="app_preview bottom_right_rounded_corner" onclick="tigerapps.userSelectFeaturedApp(4)">PAM</div>
        </div>
        </div>
    </body>
</html>
