		{% load app_extras %}
		<div id="spotlight">
			<div class="spotlight-item" id="spotleft">
				<div class="spotlight-title">
					<h3>What's Hot<span class="spotlight-more"><a href="/evlist/spe/hot/">show more</a></span></h3>
				</div>
				<div class="spotlight-content">
                    {% if hot_events %}<ul class="spotlight-menu">
                        {% for event in hot_events %}
                        <li><a class="centerellipsis" href="/events/{{event.event_id}}"><span class='ellipsis_text'>{{event}}</span></a></li>
                        <li><ul>
                            <li><a class="centerellipsis" style="text-decoration: none;"><span class='ellipsis_text'>{{event.getFormattedShortStartDate}}, {{event.getTime}} | {{event.getAttendeeCount}} attendee{{ event.getAttendeeCount|pluralize }}</span></a></li>
                        </ul></li>
                        {% endfor %}
                    </ul>{% else %}
                    <p class="spotlight-none">No events to display.</p>
                    {% endif %}
                </div>
            </div>

            <div class="spotlight-item" id="spotcenter">
                <div class="spotlight-title">
                    <h3>Recently Added<span class="spotlight-more"><a href="/evlist/spe/new/">show more</a></span></h3>
                </div>
                <div class="spotlight-content">
                    {% if new_events %}<ul class="spotlight-menu">
                        {% for event in new_events %}
                        <li><a class="centerellipsis" href="/events/{{event.event_id}}"><span class='ellipsis_text'>{{event}}</span></a></li>
                        <li><ul>
                            <li><a class="centerellipsis" style="text-decoration: none;"><span class='ellipsis_text'>{{event.getFormattedShortStartDate}}, {{event.getTime}} | added {{event.event_date_time_created|time_difference}} ago</span></a></li>
                        </ul></li>
                        {% endfor %}				
                    </ul>{% else %}
                    <p class="spotlight-none">No events to display.</p>
                    {% endif %}
                </div>
            </div>

            <div class="spotlight-item" id="spotright">
                {% if user_data %}
                <div class="spotlight-title">
                    <h3>Recently Viewed<span class="spotlight-more"><a href="/user/events/">show more</a></span></h3>
                </div>
                <div class="spotlight-content">
                    {% if my_viewed %}<ul class="spotlight-menu">
                        {% for event in my_viewed %}
                        <li><a class="centerellipsis" href="/events/{{event.event_id}}"><span class='ellipsis_text'>{{event}}</span></a></li>
                        <li><ul>
                            <li><a class="centerellipsis" style="text-decoration: none;"><span class='ellipsis_text'>{{event.getFormattedShortStartDate}}, {{event.getTime}} | viewed {{event.view_date_time|time_difference}} ago</span></a></li>
                        </ul></li>
                        {% endfor %}
                    </ul>{% else %}
                    <p class="spotlight-none">No events to display.</p>
                    {% endif %}
                </div>
                {% else %}
                <div class="spotlight-title">
                    <h3><a href="/login">Log In for Full Access</a></h3>
                </div>
                <div class="spotlight-content">
                    <ul class="spotlight-menu" style="font-size: 1.2em;">
                        <li>Invite friends</li>
                        <li>Discuss events</li>
                        <li>Set up email reminders</li>
                        <li>Submit your own events</li>
                    </ul>
                </div>				
                {% endif %}
            </div>
        </div>	
